body {
	background-color: lightblue;
	font-family: Arial, sans-serif;
	margin: 40px;
	color: #2e3136;
}

h1 {
	font-family: Arial, sans-serif;
	color: #1c232e;
}

p {
	color: #4E7893;
}

#section1 {
	background-color: #143880;
	color: #C6BEBE;
}
